<h3>Listado de Heroes</h3>


<div *ngIf="deletedhero; else nothingwasdelete">
  <h3>Heroe Borrado <small class="text-danger">{{deletedhero}}</small></h3>
</div>

<ng-template #nothingwasdelete>


  <h3 *ngIf="!deletedhero">No ha borrado nada</h3>

</ng-template>

<button *ngIf="heroNames.length>0" (click)="removelasthero()" class="btn btn-outline-danger">Borrar Ultimo
  Heroe</button>








<ul class="mt-2" list-group>


  <li *ngFor="let name of heroNames" class="list-group-item">{{name}}</li>


</ul>